.banner{
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
}
.cover{
    width: 100%;
    height: 90vh;
    background-color: black;
    opacity: 0.3;
}
.navbar-logo {
    display: inline-flex;
    align-items: center;
    margin-right: 10px; /* Adjust as needed */
}